/* Общие стили */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

main {
    flex-grow: 1;
    padding: 20px;
    margin-left: 250px; /* Отступ для бокового меню в ПК версии */
}

.banner {
    position: fixed;
    top: 0;
    right: 10px;
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Стили для бокового меню в ПК версии */
.sidebar {
    height: 100vh;
    width: 250px;
    background-color: #111;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 10px;
    z-index: 10;
}

.sidebar a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #575757;
}

.sidebar a.active {
    background-color: #4CAF50;
}

.social-icons {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    margin-top: auto;
}

/* Стили для мобильного меню */
.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    width: 100%;
    z-index: 10;
}

.menu-toggle {
    padding: 10px;
    color: white;
    background-color: #111;
    cursor: pointer;
    text-align: center;
}

.menu-content {
    display: none;
    flex-direction: column;
}

.menu-content a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

.menu-content a:hover {
    background-color: #575757;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .sidebar {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    main {
        margin-left: 0;
        padding-top: 50px;
    }
}
